<div class="logo"><img src="{{logo}}" /></div>
<div class="operate">
  <span class="btn btn-lg btn-success ok">确 认</span>
  <span class="btn btn-lg btn-default cancel">放 弃</span>
</div>
<h1>{{text}}</h1>
