#page-container
  position: fixed
  top: 0px
  left: 0px
  height: 100%
  width: 100%
  overflow: hidden
  background: #000

  .list
    position: absolute
    width: 100%

    section
      background: #f6f6f6
      width: 100%
      height: 100%
      border: 10px solid blue
      overflow: hidden
